# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
List popular languages for Data Science:
- Java
- Julia
- Scala
- C/C++
- JavaScript
- Swift

### Author
Priyanshu Parkhe

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Pandas</li>
    <li>Numpy</li>
    <li>matplotlib</li>
    <li>Seaburn</li>
</ol>

| Data Science |
|:---|
| Apache Spark |
| TensorFlow |
| Apache Spark |
| Tableau |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335